In [11]:
import surveyReader as sv

In [ ]:
a = sv.SurveyReader( )

In [13]:
a.read()

In [16]:
z = a.to_df(makeLong=True , fsuidColumn=True)

In [21]:
z['Spring 2025 Doctoral Exit Survey.csv']['responses']

    QUESTION_RESPONSE  IS_LABEL QUESTION_ID        RESPONSE_ID
2                 NaN     False        QID6  R_695iWMqF6DptEzE
3                 NaN     False        QID6  R_1drIyEk2UY9e19E
4                 NaN     False        QID6  R_1K0I5jogqxefQHp
5                 NaN     False        QID6  R_57fsmTCAXmu8siB
6                 NaN     False        QID6  R_5kT6bNRFMsdBIpH
..                ...       ...         ...                ...
132                 3     False     QID29_5  R_6VqoFllFampuRsq
133                 2     False     QID29_5  R_70w7uJVJxgba5Jp
134               NaN     False     QID29_5  R_7peBiW24glCMynT
135                 3     False     QID29_5  R_5P5yd6Gj5WKvg27
136                 3     False     QID29_5  R_5v2qFdia1aohami

[28620 rows x 4 columns]